@media (prefers-color-scheme: dark) {
    body {
   
        background-color: black;
        color: white;
        
        
    }
  }
  /* Style rules for light mode */
  @media (prefers-color-scheme: light) {
    body {
  
        background-color: white;
        color: black;
    }
  }


@font-face {
  font-family: 'IranianSans';
  src: url('#{$fa-font-path}/IranianSans.ttf?v=#{$fa-version}') format('truetype');
  //  src: url('#{$fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}

   
  